<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Form</title>
</head>
<body>
    <form action="#" th:action="@{/process}" th:object="${customer}" method="post">
        <input type="hidden" th:field="*{id}" />

        Title: <input type="text" th:field="*{title}">
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>

        First Name: <input type="text" th:field="*{firstName}">
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span><br />

        Last Name: <input type="text" th:field="*{lastName}">
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span><br />

        Street Address: <input type="text" th:field="*{streetAddress}">
        <span th:if="${#fields.hasErrors('streetAddress')}" th:errors="*{streetAddress}"></span><br />

        City: <input type="text" th:field="*{city}">
        <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span><br />

        State: <input type="text" th:field="*{state}">
        <span th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></span><br />

        Zip Code: <input type="text" th:field="*{zipCode}">
        <span th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></span><br />

        Email Address: <input type="text" th:field="*{emailAddress}">
        <span th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></span><br />

        Position: <input type="text" th:field="*{position}">
        <span th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></span><br />

        Company ID: <input type="text" th:field="*{companyID}">
        <span th:if="${#fields.hasErrors('companyID')}" th:errors="*{companyID}"></span><br />

        <input type="submit" value="Submit">



    </form>
</body>
</html>